.b-searchList
	.b-searchList__title
		h2 3 результата
		.el-sort
			| Дата
			a(href="#"): +svg('sort')
	.b-searchList__frame
		.b-specialist
			.b-specialist__image
				a(href="#")
					img(src="./images/pages/services/spech-1.jpg" alt="")
			.b-specialist__row
				.b-specialist__col
					.b-specialist__name
						a(href="#") Ирина Ковина
						.el-age 30 лет
					.b-specialist__sity
						.el-sity
							| Москва
							+svg('map')
					.b-specialist__spec
						strong Специалист по маникюру
						span Зарегестрирована на сервисе 6 месяцев
					.b-specialist__reviews
						.b-specialist__reit
							+svg('star')
							| 5
						a(href="#") 120 отзывов
					.b-specialist__opt
						.b-specialist__opt__item
							span: +svg('check').icon-check
							| Личность подтверждена
						.b-specialist__opt__item
							span: +svg('castle').icon-castle
							| 35 сделок без риска
					.b-specialist__images
						a(href="#")
							img(src="./images/pages/services/sm-1.jpg" alt="")
						a(href="#")
							img(src="./images/pages/services/sm-2.jpg" alt="")
						a(href="#")
							img(src="./images/pages/services/sm-3.jpg" alt="")
				.b-specialist__col
					.b-specialist__desc
						h5 Об исполнителе:
						p Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн!
						p Выполняю маникюр в абсолютно любой технике.
					.b-specialist__price
						.el-price
							.el-price__title Цены
							.el-price__list
								.el-price__item
									span Женская стрижка
									span 1050 рублей
								.el-price__item
									span Женская причёска
									span 3450 рублей
								.el-price__item
									span Мужская стрижка
									span 1000 рублей
							.el-price__all Смотреть ещё
		.b-specialist
			.b-specialist__image
				a(href="#")
					img(src="./images/pages/services/spech-2.jpg" alt="")
			.b-specialist__row
				.b-specialist__col
					.b-specialist__name
						a(href="#") Ирина Ковина
						.el-age 30 лет
					.b-specialist__sity
						.el-sity
							| Москва
							+svg('map')
					.b-specialist__spec
						strong Специалист по маникюру
						span Зарегестрирована на сервисе 6 месяцев
					.b-specialist__reviews
						.b-specialist__reit
							+svg('star')
							| 5
						a(href="#") 120 отзывов
					.b-specialist__opt
						.b-specialist__opt__item
							span: +svg('check').icon-check
							| Личность подтверждена
						.b-specialist__opt__item
							span: +svg('castle').icon-castle
							| 35 сделок без риска
					.b-specialist__images
						a(href="#")
							img(src="./images/pages/services/sm-1.jpg" alt="")
						a(href="#")
							img(src="./images/pages/services/sm-2.jpg" alt="")
						a(href="#")
							img(src="./images/pages/services/sm-3.jpg" alt="")
				.b-specialist__col
					.b-specialist__desc
						h5 Об исполнителе:
						p Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн!
						p Выполняю маникюр в абсолютно любой технике.
					.b-specialist__price
						.el-price
							.el-price__title Цены
							.el-price__list
								.el-price__item
									span Женская стрижка
									span 1050 рублей
								.el-price__item
									span Женская причёска
									span 3450 рублей
								.el-price__item
									span Мужская стрижка
									span 1000 рублей
							.el-price__all Смотреть ещё
		.b-specialist
			.b-specialist__image
				a(href="#")
					img(src="./images/pages/services/spech-3.jpg" alt="")
			.b-specialist__row
				.b-specialist__col
					.b-specialist__name
						a(href="#") Ирина Ковина
						.el-age 30 лет
					.b-specialist__sity
						.el-sity
							| Москва
							+svg('map')
					.b-specialist__spec
						strong Специалист по маникюру
						span Зарегестрирована на сервисе 6 месяцев
					.b-specialist__reviews
						.b-specialist__reit
							+svg('star')
							| 5
						a(href="#") 120 отзывов
					.b-specialist__opt
						.b-specialist__opt__item
							span: +svg('check').icon-check
							| Личность подтверждена
						.b-specialist__opt__item
							span: +svg('castle').icon-castle
							| 35 сделок без риска
					.b-specialist__images
						a(href="#")
							img(src="./images/pages/services/sm-1.jpg" alt="")
						a(href="#")
							img(src="./images/pages/services/sm-2.jpg" alt="")
						a(href="#")
							img(src="./images/pages/services/sm-3.jpg" alt="")
				.b-specialist__col
					.b-specialist__desc
						h5 Об исполнителе:
						p Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн!
						p Выполняю маникюр в абсолютно любой технике.
					.b-specialist__price
						.el-price
							.el-price__title Цены
							.el-price__list
								.el-price__item
									span Женская стрижка
									span 1050 рублей
								.el-price__item
									span Женская причёска
									span 3450 рублей
								.el-price__item
									span Мужская стрижка
									span 1000 рублей
							.el-price__all Смотреть ещё
	.b-more
		span
			| Смотреть ещё
			+svg('arw-down')
