.footer {
	&__row {
		background: $color-black;

		&:nth-child(2) {
			background: $color-gray3;

			.container {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
	}

	&__col {
		&-1 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 27px 0 13px 0;
		}

		&-2 {

		}

		&-3 {
			padding-top: 30px;
			display: grid;
			grid-template-columns: 55% 1fr;

			.footer__nav {
				grid-template-columns: 46% 1fr;
			}
		}

		&-4 {
			padding-top: 31px;
			padding-bottom: 35px;
			display: grid;
			grid-template-columns: 1fr auto;
			grid-column-gap: 87px;

			h4 {
				margin: 0 0 26px 0;
				font-weight: 500;
				font-size: 24px;
				line-height: 1;
				color: $color-white1;
			}
		}
	}

	&__logo {

	}

	&__app {
		display: flex;
		margin-right: 13px;

		a {
			margin-left: 16px;
			display: flex;

			svg {
				height: 40px;
				&.play {
					width: 135px;
				}
				&.store {
					width: 120px;
				}
			}
		}
	}

	&__title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 32px 10px 30px 0;

		span {
			color: $color-white;
			font-weight: 500;
			font-size: 18px;
			line-height: 1;

		}

		a {
			font-weight: 500;
			font-size: 16px;
			line-height: 1;
			color: $color-white1;

			border-bottom: 1px solid rgba(229, 229, 229, 0);

			&:hover {
				border-bottom: 1px solid rgba(229, 229, 229, 0.7);
			}
		}
	}

	&__nav {
		display: grid;
		grid-template-columns: 26% 26% 1fr 20%;
		grid-column-gap: 20px;
		padding-bottom: 32px;
		border-bottom: 1px solid $color-white1;
		font-weight: 500;
		font-size: 16px;
		line-height: 1;

		&.is-large {
			font-size: 18px;
			line-height: 17px;

			.footer__list {
				li {
					margin-bottom: 18px;


				}
			}
		}
	}

	&__list {
		li {
			margin-bottom: 19px;

			&:last-child {
				margin-bottom: 0 !important;
			}

			a {
				color: $color-white1;
				border-bottom: 1px solid rgba(229, 229, 229, 0);

				&:hover {
					border-bottom: 1px solid rgba(229, 229, 229, 0.7);
				}
			}
		}
	}

	&__subscribe {
		display: flex;
		justify-content: flex-end;

		&__frame {
			width: 320px;
		}

		form {
			position: relative;
		}

		p {
			font-weight: 400;
			font-size: 14px;
			line-height: 1;
			color: $color-gray3;
			margin-bottom: 14px;
		}

		&__inp {
			border: 1px solid $color-gray3;
			box-sizing: border-box;
			border-radius: 24px;
			background: none;
			height: 44px;
			padding: 0 50px 0 30px;
			color: $color-gray3;
			font-weight: 400;
			font-size: 14px;
			line-height: 1;
			width: 100%;
			outline: none;

			@include placeholder {
				color: $color-gray3;
			}
		}

		&__btn {
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -3px;
			border: 0;
			background: none;
			padding: 0;
			outline: none;

			svg {
				width: 20px;
				height: 7px;
				fill: $color-gray3;
			}
		}
	}

	&__about {
		p {
			margin: 0;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.15;
			color: $color-white;
		}
	}

	&__token {

		&__frame {
			display: flex;
			justify-content: flex-start;
		}

		ul {
			display: flex;
			flex-direction: column;
			font-weight: 700;
			font-size: 16px;
			line-height: 1;
			color: $color-white1;
			margin-top: -4px;

			li {
				display: flex;
				justify-content: space-between;
				margin-bottom: 6px;

				span {
					font-size: 12px;
					line-height: 1;
					font-weight: 500;
				}
			}
		}
	}

	&__copyr {
		height: 89px;
		display: flex;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		line-height: 1;
		color: $color-black;
		span {
			margin-right: 84px;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__age {
		font-weight: 500;
		font-size: 24px;
		line-height: 1;
		color: $color-black;
	}
}
