.b-project.pb0
	h2.title-h3 Смотрите также
	.b-project__list
		.b-project__item
			a(href="#").b-project__item__link
				.b-project__item__image
					img(src="./images/pages/service/project-1.jpg" alt="")
				.b-project__item__desc
					.b-project__item__title
						h4 Приготовление свадебного торта
						.b-project__item__btns
							.btn_info.btn_info--red СРОЧНО
							.btn_info.btn_info--yell КУХНЯ
						.b-project__item__info
							.b-project__item__sity
								span Москва
								+svg('map')
							.b-project__item__type
								+svg('castle')
								span Сделка без риска
					.b-project__item__text
						p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
						p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
					.b-project__item__price
						p Срок: к 31 июля
						p: strong 9.000 рублей
		.b-project__item
			a(href="#").b-project__item__link
				.b-project__item__image
					img(src="./images/pages/service/project-2.jpg" alt="")
				.b-project__item__desc
					.b-project__item__title
						h4 Приготовление свадебного торта
						.b-project__item__btns
							.btn_info.btn_info--red СРОЧНО
							.btn_info.btn_info--yell КУХНЯ
						.b-project__item__info
							.b-project__item__sity
								span Москва
								+svg('map')
							.b-project__item__type
								+svg('castle')
								span Сделка без риска
					.b-project__item__text
						p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
						p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
					.b-project__item__price
						p Срок: к 31 июля
						p: strong 9.000 рублей
		.b-project__item
			a(href="#").b-project__item__link
				.b-project__item__image
					img(src="./images/pages/service/project-3.jpg" alt="")
				.b-project__item__desc
					.b-project__item__title
						h4 Приготовление свадебного торта
						.b-project__item__btns
							.btn_info.btn_info--red СРОЧНО
							.btn_info.btn_info--yell КУХНЯ
						.b-project__item__info
							.b-project__item__sity
								span Москва
								+svg('map')
							.b-project__item__type
								+svg('castle')
								span Сделка без риска
					.b-project__item__text
						p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
						p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
					.b-project__item__price
						p Срок: к 31 июля
						p: strong 9.000 рублей
	.b-project__more
		span
			| Смотреть ещё
			+svg('arw-down')
