.b-service
	.b-service__title.b-sep
		h1 Приготовление свадебного торта
		.btn_info.btn_info--yell КУХНЯ
	.b-service__cols
		.b-service__col
			.b-service__desc
				h4 Описание
				p Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн!Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн! Выполняю маникюр в абсолютно любой технике. На выбор мой или ваш дизайн!
				p Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн! Выполняю маникюр в абсолютно любой технике. На выбор мой или ваш дизайн!
		.b-service__col
			.b-service__price
				| 9.000 рублей
