header.header
	.container
		.header__logo
			a(href="/")
				img(src="images/logo.png" srcset="images/logo@2x.png 2x" alt="")
		.header__search
			form(action="#")
				input(type="text" placeholder="Поиск").header__search__input
				button.header__search__btn
					+svg('search')
		.header__nav
			ul.header__nav__list
				li.header__nav__item
					a(href="#") Проекты
				li.header__nav__item
					a(href="#") Специалисты
				li.header__nav__item
					a(href="#")
						| Карта
						+svg('map')
		.header__sity Москва
		.header__login
			a.btn.btn_grey(href="#") Войти
