-
	const data = {
		services: [
			{
				name: 'УБОРКА',
				desc: '1435 специалистов',
				image: 'images/pages/index/service_1.jpg',
			},
			{
				name: 'РЕМОНТ',
				desc: '1321 специалист',
				image: 'images/pages/index/service_1.jpg',
			},
			{
				name: 'САНТЕХНИКА',
				desc: '921 специалист',
				image: 'images/pages/index/service_1.jpg',
			},
			{
				name: 'РЕПЕТИТОР',
				desc: '1921 специалист',
				image: 'images/pages/index/service_1.jpg',
			}
		],
		reviews: [
			{
				spec: 'Маникюр',
				name: 'Ирина Ковальчук',
				reit: '5',
				title: 'Очень качественная работа!',
				desc: 'Задача: выполнить маникюр в сложной цветовой технике...',
				price: 'Цена: 1.500 рублей',
				image: '',
			},
			{
				spec: 'Ремонт',
				name: 'Максим Дорофеев',
				reit: '4',
				title: 'В целом неплохо',
				desc: 'Задача: выложить плитку в ванной...',
				price: 'Цена: 9.000 рублей',
				image: '',
			},
			{
				spec: 'Подготовка к ЕГЭ',
				name: 'Тамара Никина',
				reit: '5',
				title: 'Экзамен на отлично!',
				desc: 'Задача: подготовить ученицу 11 класса к ЕГЭ по химии...',
				price: 'Цена: 1.500 рублей/занятие',
				image: '',
			},
		],
	}
