section.b-section.b-projects
	.container
		.b-title
			h2 Свежие проекты
			a(href="#").b-title__all Смотреть все
	.b-projects__frame
		.container
			.swiper-container.js-projects
				.swiper-wrapper
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Приготовление свадебного торта
									span.b-projects__item__text Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель...
								span.b-projects__item__info
									span.bg-red СРОЧНО
									span.bg-yel КУХНЯ
							span.b-projects__item__price Оплата: 9.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Уборка в квартире
									span.b-projects__item__text Убрать трёхкомнатную квартиру в спальном районе Москвы. Работа с кошачьей шерстью...
								span.b-projects__item__info
									span.bg-blue УБОРКА
							span.b-projects__item__price Оплата: 6.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Женская причёска
									span.b-projects__item__text Сделать причёску на длинных кудрявых волосах. Опыт работы с подобным типом волос нужен...
								span.b-projects__item__info
									span.bg-pink КРАСОТА
							span.b-projects__item__price Оплата: 3.500 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Приготовление свадебного торта
									span.b-projects__item__text Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель...
								span.b-projects__item__info
									span.bg-red СРОЧНО
									span.bg-yel КУХНЯ
							span.b-projects__item__price Оплата: 9.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Уборка в квартире
									span.b-projects__item__text Убрать трёхкомнатную квартиру в спальном районе Москвы. Работа с кошачьей шерстью...
								span.b-projects__item__info
									span.bg-blue УБОРКА
							span.b-projects__item__price Оплата: 6.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Женская причёска
									span.b-projects__item__text Сделать причёску на длинных кудрявых волосах. Опыт работы с подобным типом волос нужен...
								span.b-projects__item__info
									span.bg-pink КРАСОТА
							span.b-projects__item__price Оплата: 3.500 рублей
			.swiper-container.js-projects
				.swiper-wrapper
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Приготовление свадебного торта
									span.b-projects__item__text Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель...
								span.b-projects__item__info
									span.bg-red СРОЧНО
									span.bg-yel КУХНЯ
							span.b-projects__item__price Оплата: 9.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Уборка в квартире
									span.b-projects__item__text Убрать трёхкомнатную квартиру в спальном районе Москвы. Работа с кошачьей шерстью...
								span.b-projects__item__info
									span.bg-blue УБОРКА
							span.b-projects__item__price Оплата: 6.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Женская причёска
									span.b-projects__item__text Сделать причёску на длинных кудрявых волосах. Опыт работы с подобным типом волос нужен...
								span.b-projects__item__info
									span.bg-pink КРАСОТА
							span.b-projects__item__price Оплата: 3.500 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Приготовление свадебного торта
									span.b-projects__item__text Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель...
								span.b-projects__item__info
									span.bg-red СРОЧНО
									span.bg-yel КУХНЯ
							span.b-projects__item__price Оплата: 9.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Уборка в квартире
									span.b-projects__item__text Убрать трёхкомнатную квартиру в спальном районе Москвы. Работа с кошачьей шерстью...
								span.b-projects__item__info
									span.bg-blue УБОРКА
							span.b-projects__item__price Оплата: 6.000 рублей
					.swiper-slide.b-projects__item
						a(href="#").b-projects__item__link
							span.b-projects__item__row
								span.b-projects__item__desc
									span.b-projects__item__title Женская причёска
									span.b-projects__item__text Сделать причёску на длинных кудрявых волосах. Опыт работы с подобным типом волос нужен...
								span.b-projects__item__info
									span.bg-pink КРАСОТА
							span.b-projects__item__price Оплата: 3.500 рублей
