section.b-mainSearch
	.container
		.b-mainSearch__frame
			h1.b-mainSearch__title Найди специалиста #вметре от себя
			form(action="#")
				.b-mainSearch__options
					.b-mainSearch__option
						.b-mainSearch__select
							span Услуга
							+svg('sel')
					.b-mainSearch__option
						.b-mainSearch__select
							span Услуга
							+svg('sel')
					.b-mainSearch__option
						.b-mainSearch__select
							span Услуга
							+svg('sel')
					.b-mainSearch__option
						input(
							type="text"
							placeholder="Введите текст для поиска услуги"
						).b-mainSearch__input
				.b-mainSearch__btn
					button.btn.btn_black
						| На карте
						+svg('map').btn_icon-map
					button.btn.btn_red Искать
