section.b-section.b-specialists
	.container
		.b-title
			h2 Лучшие специалисты
			a(href="#").b-title__all Смотреть все
		.b-specialists__frame
			.swiper-container.js-specialists
				.swiper-wrapper
					each item, key in data.specialists
						.swiper-slide
							.b-specialists__item
								a(href="#").b-specialists__item__link
									span.b-specialists__item__spec: != item.spec
									span.b-specialists__item__image
										img(
											src=item.image
											slt=""
										)
									span.b-specialists__item__info
										span.b-specialists__item__reit
											+svg('star')
											!= item.reit
										span.b-specialists__item__price: != item.price
									span.b-specialists__item__name: != item.name
									span.b-specialists__item__sity
										!= item.sity
										+svg('map')
