-
	const data = {
		services: [
			{
				name: 'УБОРКА',
				desc: '1435 специалистов',
				image: 'images/pages/index/service_1.jpg',
			},
			{
				name: 'РЕМОНТ',
				desc: '1321 специалист',
				image: 'images/pages/index/service_2.jpg',
			},
			{
				name: 'САНТЕХНИКА',
				desc: '921 специалист',
				image: 'images/pages/index/service_3.jpg',
			},
			{
				name: 'РЕПЕТИТОР',
				desc: '1921 специалист',
				image: 'images/pages/index/service_4.jpg',
			}
		],
		reviews: [
			{
				spec: 'Маникюр',
				name: 'Ирина Ковальчук',
				reit: '5',
				title: 'Очень качественная работа!',
				desc: 'Задача: выполнить маникюр в сложной цветовой технике...',
				price: 'Цена: 1.500 рублей',
				image: 'images/pages/index/review_1.jpg',
			},
			{
				spec: 'Ремонт',
				name: 'Максим Дорофеев',
				reit: '4',
				title: 'В целом неплохо',
				desc: 'Задача: выложить плитку в ванной...',
				price: 'Цена: 9.000 рублей',
				image: 'images/pages/index/review_2.jpg',
			},
			{
				spec: 'Подготовка к ЕГЭ',
				name: 'Тамара Никина',
				reit: '5',
				title: 'Экзамен на отлично!',
				desc: 'Задача: подготовить ученицу 11 класса к ЕГЭ по химии...',
				price: 'Цена: 1.500 рублей/занятие',
				image: 'images/pages/index/review_3.jpg',
			},
			{
				spec: 'Маникюр',
				name: 'Ирина Ковальчук',
				reit: '5',
				title: 'Очень качественная работа!',
				desc: 'Задача: выполнить маникюр в сложной цветовой технике...',
				price: 'Цена: 1.500 рублей',
				image: 'images/pages/index/review_1.jpg',
			},
			{
				spec: 'Ремонт',
				name: 'Максим Дорофеев',
				reit: '4',
				title: 'В целом неплохо',
				desc: 'Задача: выложить плитку в ванной...',
				price: 'Цена: 9.000 рублей',
				image: 'images/pages/index/review_2.jpg',
			},
			{
				spec: 'Подготовка к ЕГЭ',
				name: 'Тамара Никина',
				reit: '5',
				title: 'Экзамен на отлично!',
				desc: 'Задача: подготовить ученицу 11 класса к ЕГЭ по химии...',
				price: 'Цена: 1.500 рублей/занятие',
				image: 'images/pages/index/review_3.jpg',
			},
		],
		specialists: [
			{
				spec: 'Мастер маникюра',
				name: 'Марина Афонина',
				reit: '5',
				sity: 'Нижний Новгород',
				price: '1500 руб.',
				image: 'images/pages/index/spec_1.png',
			},
			{
				spec: 'Парикмахер',
				name: 'Ирина Ковина',
				reit: '4,9',
				sity: 'Москва',
				price: '2500 руб.',
				image: 'images/pages/index/spec_2.png',
			},
			{
				spec: 'Репетитор по физике',
				name: 'Олег Краев',
				reit: '4,8',
				sity: 'Москва',
				price: '2500 руб.',
				image: 'images/pages/index/spec_3.png',
			},
			{
				spec: 'Водитель',
				name: 'Владислав Лукин',
				reit: '5',
				sity: 'Оренбург',
				price: '5000 руб.',
				image: 'images/pages/index/spec_4.png',
			},
			{
				spec: 'Повар',
				name: 'Ирина Ковина',
				reit: '4,9',
				sity: 'Москва',
				price: '2500 руб.',
				image: 'images/pages/index/spec_5.png',
			},
			{
				spec: 'Репетитор по английскому',
				name: 'Влада Краева',
				reit: '4,8',
				sity: 'Москва',
				price: '2500 руб.',
				image: 'images/pages/index/spec_6.png',
			},
			{
				spec: 'Репетитор по физике',
				name: 'Олег Краев',
				reit: '4,8',
				sity: 'Москва',
				price: '2500 руб.',
				image: 'images/pages/index/spec_7.png',
			},
			{
				spec: 'Парикмахер',
				name: 'Ирина Ковина',
				reit: '4,9',
				sity: 'Москва',
				price: '2500 руб.',
				image: 'images/pages/index/spec_8.png',
			},
			{
				spec: 'Тату-мастер',
				name: 'Настя Филиппова',
				reit: '4,9',
				sity: 'Москва',
				price: '1500 руб.',
				image: 'images/pages/index/spec_9.png',
			},
			{
				spec: 'Повар',
				name: 'Моника Геллер',
				reit: '5',
				sity: 'Москва',
				price: '6500 руб.',
				image: 'images/pages/index/spec_10.png',
			},
		],
	}
