.b-projectDetail.b-sep
	.b-projectDetail__title.b-sep
		h1 Приготовить свадебный торт
		.btns
			.btn_info.btn_info--red СРОЧНО
			.btn_info.btn_info--yell КУХНЯ
	.b-projectDetail__autor.b-sep
		.b-projectDetail__autor__image
			img(src="./images/pages/project/spec.png" alt="")
		.b-projectDetail__autor__info
			.b-projectDetail__autor__head
				.b-projectDetail__autor__name Ирина Ковина
				.b-projectDetail__autor__work
					+svg('castle')
					| Сделка без риска
			.b-projectDetail__autor__sity
				| Москва
				+svg('map')
			.b-projectDetail__autor__reit
				+svg('star')
				span 4,9
			.b-projectDetail__autor__time
				| Зарегестрирована на сервисе
				br
				| 6 месяцев
		.b-projectDetail__autor__price
			p Срок: к 31 июля
			p: strong 9.000 рублей
	.b-projectDetail__frame
		.b-projectDetail__cols
			.b-projectDetail__image
				a(href="#")
					img(src="./images/pages/project/img-1.jpg" alt="")
			.b-projectDetail__desc
				.text
					p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
					p Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина Приготовить свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина     Приготовить           свадебный торт весом 5 кг с цветочным декором. Начинка карамель, клубника, малина
				.images
					a(href="#"): img(src="./images/pages/project/img-1.jpg" alt="")
					a(href="#"): img(src="./images/pages/project/img-2.jpg" alt="")
					a(href="#"): img(src="./images/pages/project/img-3.jpg" alt="")
					a(href="#"): img(src="./images/pages/project/img-4.jpg" alt="")
	.b-projectDetail__info
		span Опубликовано: 29 июля 12:00
		a.btn.btn_red(href="#") Откликнуться
