.b-specialistDetail
	.b-specialistDetail__row
		.b-specialistDetail__image
			img(src="./images/pages/lk/img-1.jpg" alt="")
		.b-specialistDetail__info
			.b-specialistDetail__info__head
				.el-name Ирина Ковина
				.el-age 30 лет
				.el-edit
					span Редактировать
					+svg('edit')
				.el-sity
					| Москва
					+svg('map')
			.b-specialistDetail__info__row
				.b-specialist__spec
					strong Специалист-парикмахер
					span Зарегестрирована на сервисе 6 месяцев
				.b-specialist__reviews
					.b-specialist__reit
						+svg('star1')
						| 5
					a(href="#") 120 отзывов
			.b-specialist__opt
				.b-specialist__opt__item
					span: +svg('check').icon-check
					| Личность подтверждена
				.b-specialist__opt__item
					span: +svg('castle').icon-castle
					| 35 сделок без риска
			.b-specialist__desc
				h5 О пользователе:
				p Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн!Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн! Выполняю маникюр в абсолютно любой технике. На выбор мой или ваш дизайн!
				p Выполняю маникюр в абсолютно любой технике. На выбор - мой или ваш дизайн! Выполняю маникюр в абсолютно любой технике. На выбор мой или ваш дизайн!
	.b-specialistDetail__price
		.el-price
			.el-price__title Услуги и цены
			.el-price__row
				.el-price__list
					.el-price__item
						span Женская стрижка
						span 1050 рублей
					.el-price__item
						span Женская причёска
						span 3450 рублей
					.el-price__item
						span Мужская стрижка
						span 1000 рублей
					.el-price__item
						span Женская стрижка
						span 1050 рублей
				.el-price__list
					.el-price__item
						span Женская стрижка
						span 1050 рублей
					.el-price__item
						span Женская причёска
						span 3450 рублей
					.el-price__item
						span Мужская стрижка
						span 1000 рублей
					.el-price__item
						span Женская стрижка
						span 1050 рублей
			.el-price__all Смотреть ещё
	.b-specialistDetail__portfolio
		h5 Портфолио
		.b-portfolio
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
			a(href="#").b-portfolio__link
				img(src="./images/pages/lk/pr-1.jpg" alt="")
				span
					strong +27
	include projects
	include spec
