.b-specialistBar
	.b-specialistBar__message
		a(href="#")
			| Сообщения
			span 4
	.b-specialistBar__balance
		.b-specialistBar__balance__title Баланс
		.b-specialistBar__balance__list
			.b-specialistBar__balance__item
				+svg('rub')
				a(href="#") 3400 рублей
			.b-specialistBar__balance__item
				img(src="./images/bl.png" srcset="./images/bl@2x.png 2x" alt="")
				a(href="#") 340 VM
