extends pug/base

prepend vars
	//-

append vars
	//-

block content
	//include pug/data

	.app
		include pug/components/header

		include pug/pages/index/main

		include pug/components/footer

	//- include pug/components/analytics
