extends pug/base

prepend vars
	- title = 'Vmetre'
	- description = ''
	- image = ''

append vars
	- link.icon32x32 = './images/favicon.png'

block content
	//include pug/data

	.app
		include pug/components/header

		include pug/pages/index/main

		include pug/components/footer

	//- include pug/components/analytics
