extends pug/base

prepend vars
	- title = 'Vmetre'
	- description = ''
	- image = ''

append vars
	- link.icon32x32 = './images/favicon.png'

block content
	.app
		include pug/components/header

		main
			section.b-content
				.container
					ul.b-roadmap
						li: a(href="index.html") Главная
						li: a(href="map.html") Карта
						li: a(href="project.html") Страница проекта
						li: a(href="review.html") Оставить отзыв
						li: a(href="service.html") Страница услуги
						li: a(href="services.html") Услуги расширенный поиск

		include pug/components/footer
