// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #313131;
$color-black0: #000;
$color-black1: #20161F;
$color-white: #fff;
$color-white1: #E5E5E5;
$color-gray: #777777;
$color-gray1: #85A5AD;
$color-gray1-hover: #709ca7;
$color-gray2: #C4C4C4;
$color-gray3: #F8F8F8;
$color-red: #FF5400;
$color-red-hover: #eb5105;

// FONTS
// stylelint-disable-next-line
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-default: "Gotham Pro";

// EASING TRANSITIONS
$duration-normal: 0.4s;
$easing-back-out: cubic-bezier(0.25, 0.74, 0.22, 1.1); // http://cubic-bezier.com/#.25,.74,.22,1.1
$easing-back-in: cubic-bezier(0.47, -0.1, 0.5, -0.06); // http://cubic-bezier.com/#.47,-0.1,.5,-.06
$easing-out: ease-out;
$easing-in: ease-in;

// Settings
$desktop-x: 1300;
$desktop: 1200;
$laptop: 992;
$tablet: 768;
$mobile: 550;
